@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.show {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  z-index: 2;
  transition: 0.5s;
}
.hide-show {
  display: none;
}

.show.active {
  right: 300px;
}
.show header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s;
}
.logo:hover {
  color: #03a9f4;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("Assets/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url("Assets/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.show video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  will-change: transfrom;
}

.overlay {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0eabf4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.hide-text {
  display: none;
}
.text h2 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1rem;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.social li {
    align-content: start;
  list-style: none;

}

.social li a {
    text-decoration: none;
    color: rgb(215, 211, 211);
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
    align-content: start;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.menu ul {
  position: relative;
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
  /* color: white; */
}

.menu ul li a:hover {
  color: #03a9f4;
}

@media (max-width: 798px) {
  .show,
  .show header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 1.9rem;
    text-align: left;
  }
}
