@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgba(0, 0, 0, 0.942);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  padding: 12px;
  position: absolute;
  top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  z-index: 1000;
  color: white;
  border-radius: 15px;
  text-align: center;
  /* transition: all 1s ; */
  animation: glow 2s infinite ease-in-out;
}
#pin-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  z-index: 2000;
  color: white;
  text-align: center;
}
#pinOverlay h2 {
  margin-bottom: 15px;
  font-weight: 600;
}
/* .wrap-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0.5rem;
} */
#pin-container input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  text-align: center;
}
#pin-container button {
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(45deg, #00f0ff, #00ff85);
  color: #000;
  transition: all 0.3s;
}
#pin-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00f0ff;
}

/* @media (min-width: 362px) {
  #pin-container {
    flex-direction: column;
  }
  .wrap-text {
    flex-direction: row;
  }
  .wrap-text h2 {
    font-size: 1rem;
  }
  .wrap-text input {
    padding: 0px;
  }
} */

#reader {
  backdrop-filter: blur(10px);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 15px;

  /* animation: glow 2s infinite ease-in-out; */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #00f0ff;
  }
  50% {
    box-shadow: 0 0 25px #00ff85;
  }
  100% {
    box-shadow: 0 0 10px #00f0ff;
  }
}

#result {
  position: absolute;
  bottom: 3rem;
  margin-top: 25px;
  padding: 15px;
  width: 80%;
  max-width: 350px;
  background: rgba(169, 33, 33, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  font-size: 1.1rem;
  text-align: center;
  color: rgb(239, 234, 234);
  transition: all 0.3s ease-in-out;
}
button {
  margin-bottom: 0px;
  background: linear-gradient(45deg, #00f0ff, #00ff85);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  letter-spacing: 0.5px;
}
button:hover {
  box-shadow: 0 0 20px #00f0ff;
  transform: scale(1.05);
}
#scanNextBtn {
  position: absolute;
  bottom: 0rem;
}
/* laptop screen  */
@media (min-width: 768px) {
  h1 {
    animation: none;
  }
  #reader {
    /* background: red; */
    width: 500px;
    height: 500px;
    animation: glow 2s infinite ease-in-out;
  }
  #scanNextBtn {
    bottom: 0rem;
  }
}
